.form {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  gap: 8px;
  margin-bottom: 32px;
  justify-content: center;
  align-items: center;
}
.form input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #808080;
  padding-left: 16px;
  outline: none;
}
.form button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  outline: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.gallery-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-list .gallery-item {
  width: 360px;
  height: 200px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}
.meta {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  transform: translateY(-48px);
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.meta-item {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.33333;
  text-align: center;
}
.meta-label {
  font-weight: 600;
  text-align: center;
  line-height: 2;
}

.iziToast {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.iziToast > .iziToast-close {
  background: url(../img/iziToste-close.svg) no-repeat 50% 50%;
  transition: all linear 250 ms;
}
